
html, body{
	font-family: 'PT Sans Caption', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	min-width: 280px;
}
.img{
	display: inline-block;
}
a{
	transition: 0.3s ease-out;
}
*{
	box-sizing: border-box;
	outline: none;
}
							/*GRID*/
.container{
	width: 1140px;
	margin-left: auto;
	margin-right: auto;
}
.row:after{
	clear: both;
	content: "";
	display: table;
}

.row {
	display: flex;
	justify-content: center;
	flex-wrap: nowrap;
}

.row--space {
	justify-content: space-between;
}
.col-4{
	max-width: 33%;
	margin-right: 30px;
	/*float: left;*/
}
.col-4:last-child{
	margin-right: 0;
}
							/*HEADER*/
.header{
	background: #7CA8C1;
	background-image: url('../img/bg/razweb.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh;
	min-height: 400px;
	color: #121B20;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	position: relative;
}
.im{
	background-image: url('../img/bg/razweb.jpg');
	opacity: 0.7;
}
.header_title{
	font-weight: bold;
	font-size: 50px;
	/*margin-bottom: 20px;*/
	font-family: 'Merriweather', serif;
	margin-top: 50px;
	margin-left: 300px;
	/*margin-right: -300px;*/
}
.header_slogan{
	max-width: 30%;
	font-weight: bold;
	font-size: 23px;
	line-height: 42px;
	text-align: right;
	margin-left: 100px;
	/*margin-right: -190px;*/
}

.header_scroll {
	position: absolute;
	background-color: #1F7398;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	bottom: 3%;
	display: inline-block;
}

.header_scroll > img {
	width: 12px;
	height: 7px;
	position: absolute;
	top: 15px;
	left: 50%;
	transform: translate(-50%, 0);
}

.header_scroll:hover,
.header_scroll:focus,
.header_scroll:active {
	transform: scale(1.2);
}

							/*PORTFOLIO*/
.portfolio{
	padding-top:70px; 
	padding-bottom:100px;
	background: #DFECF2;
}
.portfolio-item{
	margin-bottom: 20px;
	text-align: center;
}
.Title{
	font-size: 46px;
	margin-bottom: 60px;
	font-family: 'Merriweather', serif;
	text-align: center;
	font-weight: bold;
}
.portfolio-item_img{
	margin-bottom: 17px;
	transition: all 0.5s ease;
}

.portfolio-item_img:hover,
.portfolio-item_img:focus {
	transform: scale(1.1);
}
.portfolio-item_img img{
	width: 100%;
	height: auto;
	border-radius: 10px;
}
.portfolio-item_title{
	font-size: 24px;
	line-height: normal;
	margin-bottom: 5px;
}
.portfolio-item_text{
	font-size: 16px;
	line-height: 1.5;
}
.portfolio-item_title a{
	text-decoration: none;
	color: #000;
	border-bottom: 1px solid #fff;
}
.portfolio-item_title a:hover{
	color: #20B2AA;
	border-color: rgba(32, 178, 170, 0.3);
}
.portfolio-item_text p{
	margin-top: 0;
	margin-bottom: 15px;
}
							/*FOOTER*/
.footer{
	background-color: #061634;
	color: #6479a2;
	padding-top: 90px;
	padding-bottom: 100px;
}
.footer p{
	margin-top: 0;
	margin-bottom: 15px;
}
p.footer_name{
	font-size: 28px;
	margin-bottom: 10px;
	line-height: normal;
	font-family:'Merriweather', serif;
}
p.footer_social{
	color: #fff;
}
p.footer_social-icons{
	color: #fff;
	font-size: 32px;

}
p.footer_social-icons a{
	color: #fff;
	text-decoration: none;
	margin-right: 30px;
}
p.footer_social-icons a:last-child{
	margin-right: 0;
}

p.footer_social-icons i:hover,
p.footer_social-icons i:focus {
	color: #7CA8C1;
	transform: scale(1.3);
	transition: all .3s ease-in-out;
}
.button{
	font-weight: 700;
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	display: inline-block;
	border-width: 2px;
	border-color: #fff;
	border-style: solid;
	border-radius: 50px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 23px;
	padding-right: 23px;
	margin-bottom: 13px;
	word-spacing: 5px;
	transition: 0.3s ease-out;
}
.button:hover{
	color: #000;
	background-color: #7CA8C1;
	border-color: #000;
}
							/*MEDIA*/
@media screen and (max-width: 1160px) {
	.container{
		width: 100%;
	}
	.col-4{
		margin: 0;
		margin-bottom: 30px;
		padding-left: 15px;
		padding-right: 15px;
		text-align: center;
	}
	.header{
		/*padding-right: 10px;*/
		/*padding-left: 10px;*/
		padding: 50px;
		justify-content: flex-start;
		text-align: center;
	}
	.header_title{
		font-size: 30px;
		line-height: 45px;
		margin-bottom: 15px;
		margin-left: 150px;
		max-width: 80%;
		/*margin:auto;*/
	}
	.header_slogan{
		font-size: 15px;
		line-height: 35px;
		max-width: 40%;

		/*margin:auto;*/
	}
	.portfolio{
		padding-top: 40px;
		padding-bottom: 50px;
	}
	.title{
		font-size: 35px;
	}
	.footer{
		padding-top: 70px;
		padding-bottom: 60px;
	}
}

@media screen and (max-width: 768px) {
	.header_slogan {
		text-align: center;
		max-width: 50%;
	}

	.portfolio-item_title {
		font-size: 18px;
	}

	.portfolio-item_text {
		font-size: 12px;
	}

	.portfolio-item_img img {
		width: 110%;
		height: auto;
		border-radius: 10px;
	}

}






/*
font-family: 'Merriweather', serif;
font-family: 'PT Sans Caption', sans-serif;
*/  











